a{
    color:aquamarine;
}
a:link{
    color:red;
    text-decoration: none;
    display: inline-block;
    padding-left: 10px;
    text-align: center;
}
a:hover{
    color:green;
    text-decoration: underline;
   
 background-color:salmon;
    text-align: center;
    font-size: large;
}
a:active{
color: sienna;
}